<!-- ここからコーディングをお願いいたします -->
<div class="contents--area">
<!--========== B-1 新着情報（写真） =================================================-->
<section class="contents--component__001">
	<div class="contents--component__title eventtitle--backcolor__default">
		<h2>注目の秋祭り＆秋のイベント</h2>
	</div>
	<div class="conteiner--box">
		<div class="conteiner--box__001">
			<a class="link--opacity__50" href="#">
				<div class="conteiner--box__image">
					<div class="conteiner--box__tag conteiner--tag__color">イベント</div>
					<img src="img/image_sample_001.jpg" alt="image_sample001" />
				</div>
				<div class="conteiner--box__field">
					<div class="conteiner--box__title">
						<p>イベント名イベント名イベント名イベント名</p>
					</div>
					<div class="conteiner--box__date">
						<p>2018年10月28日(aaa)～11月28日(aaa)</p>
					</div>
					<div class="conteiner--box__place">
						<p>六本木ヒルズアリーナ</p>
					</div>
				</div>
			</a>
		</div>
		<div class="conteiner--box__001">
			<a class="link--opacity__50" href="#">
				<div class="conteiner--box__image">
					<div class="conteiner--box__tag conteiner--tag__color">紅葉</div>
					<img src="img/image_sample_002.jpg" alt="image_sample002" />
				</div>
				<div class="conteiner--box__field">
					<div class="conteiner--box__title">
						<p>イベント名イベント名イベント名イベント名</p>
					</div>
					<div class="conteiner--box__date">
						<p>2018年10月28日(aaa)～11月28日(aaa)</p>
					</div>
					<div class="conteiner--box__place">
						<p>六本木ヒルズアリーナ</p>
					</div>
				</div>
			</a>
		</div>
		<div class="conteiner--box__001">
			<a class="link--opacity__50" href="#">
				<div class="conteiner--box__image">
					<div class="conteiner--box__tag conteiner--tag__color">グルメ</div>
					<img src="img/image_sample_003.jpg" alt="image_sample003" />
				</div>
				<div class="conteiner--box__field">
					<div class="conteiner--box__title">
						<p>イベント名イベント名イベント名イベント名</p>
					</div>
					<div class="conteiner--box__date">
						<p>2018年10月28日(aaa)～11月28日(aaa)</p>
					</div>
					<div class="conteiner--box__place">
						<p>六本木ヒルズアリーナ</p>
					</div>
				</div>
			</a>
		</div>
		<hr />
		<div class="conteiner--link__text arrow--img">
			<a href="#">
				<p><span>おすすめ秋祭りをもっと見る</span></p>
			</a>
		</div>
	</div>
</section>
<!--========== B-1 新着情報（写真） =================================================-->
<!--========== B-2 新着情報（テキスト） ==============================================-->
<section class="contents--component__002">
	<div class="contents--component__title eventtitle--backcolor__default">
		<h2>注目の秋祭り＆秋のイベント</h2>
	</div>
	<div class="conteiner--box">
		<!--========== B-2 新着情報（テキスト）BOX ==============================================-->
		<a class="link--opacity__50" href="#">
			<div class="conteiner--box__002 arrow--img">
				<div class="conteiner--box__date">
					<p>2018年10月28日(aaa)～11月28日(aaa)</p>
				</div>
				<div class="conteiner--box__place">
					<p>六本木ヒルズアリーナ</p>
				</div>
				<div class="conteiner--box__title">
						<p>イベント名イベント名イベント名イベント名</p>
				</div>
			</div>
		</a>
		<!--========== B-2 新着情報（テキスト）BOX ==============================================-->
		<!--========== B-2 新着情報（テキスト）BOX ==============================================-->
		<a class="link--opacity__50" href="#">
			<div class="conteiner--box__002 arrow--img">
				<div class="conteiner--box__date">
					<p>2018年10月28日(aaa)～11月28日(aaa)</p>
				</div>
				<div class="conteiner--box__place">
					<p>六本木ヒルズアリーナ</p>
				</div>
				<div class="conteiner--box__title">
					<p>イベント名イベント名イベント名イベント名</p>
				</div>
			</div>
		</a>
		<!--========== B-2 新着情報（テキスト）BOX ==============================================-->
		<!--========== B-2 新着情報（テキスト）BOX ==============================================-->
		<a class="link--opacity__50" href="#">
			<div class="conteiner--box__002 arrow--img">
				<div class="conteiner--box__date">
					<p>2018年10月28日(aaa)～11月28日(aaa)</p>
				</div>
				<div class="conteiner--box__place">
					<p>六本木ヒルズアリーナ</p>
				</div>
				<div class="conteiner--box__title">
					<p>イベント名イベント名イベント名イベント名</p>
				</div>
			</div>
		</a>
		<!--========== B-2 新着情報（テキスト）BOX ==============================================-->
		<div class="conteiner--link__text arrow--img">
			<a href="#">
				<p><span>おすすめ秋祭りをもっと見る</span></p>
			</a>
		</div>
	</div>
</section>
<!--========== B-2 新着情報（テキスト） ==============================================-->
<!--========== C エリアから探す =====================================================-->
<section class="contents--component__003">
	<div class="contents--component__title eventtitle--backcolor__default">
		<h2>エリアから秋祭り・イベントを探す</h2>
	</div>
	<div class="conteiner--box">
		<!--========== B-2 新着情報（テキスト）BOX ==============================================-->
		<a class="link--underline" href="#">
			<div class="conteiner--box__003">
				<div class="conteiner--box__title arrow--img">
					<p>東京で買えるおすすめバレンタインチョコ</p>
				</div>
			</div>
		</a>
		<div class="conteiner--area__lists">
			<div class="conteiner--box__area conteiner--box__top">
				<a href="#"><span>銀座・有楽町</span></a>
			</div>
			<div class="conteiner--box__area">
				<a href="#"><span>東京駅・丸の内</span></a>
			</div>
			<div class="conteiner--box__area">
				<a href="#"><span>日本橋</span></a>
			</div>
			<div class="conteiner--box__area">
				<a href="#"><span>新橋</span></a>
			</div>
			<div class="conteiner--box__area">
				<a href="#"><span>渋谷</span></a>
			</div>
			<div class="conteiner--box__area">
				<a href="#"><span>原宿</span></a>
			</div>
			<div class="conteiner--box__area">
				<a href="#"><span>表参道・青山</span></a>
			</div>
			<div class="conteiner--box__area">
				<a href="#"><span>恵比寿</span></a>
			</div>
			<div class="conteiner--box__area">
				<a href="#"><span>代官山</span></a>
			</div>
			<div class="conteiner--box__area">
				<a href="#"><span>六本木</span></a>
			</div>
			<div class="conteiner--box__area">
				<a href="#"><span>赤坂</span></a>
			</div>
			<div class="conteiner--box__area">
				<a href="#"><span>自由が丘・二子玉川</span></a>
			</div>
			<div class="conteiner--box__area">
				<a href="#"><span>品川</span></a>
			</div>
			<div class="conteiner--box__area">
				<a href="#"><span>上野・浅草</span></a>
			</div>
			<div class="conteiner--box__area">
				<a href="#"><span>池袋</span></a>
			</div>
			<div class="conteiner--box__area">
				<a href="#"><span>吉祥寺</span></a>
			</div>
		</div>
		<div class="conteiner--box__003">
			<div class="conteiner--box__title arrow--img">
				<p>神奈川で買えるおすすめバレンタインチョコ</p>
			</div>
		</div>
		<div class="conteiner--area__lists">
			<div class="conteiner--box__area  conteiner--box__top">
				<a href="#"><span>横浜・みなとみらい</span></a>
			</div>
			<div class="conteiner--box__area">
				<a href="#"><span>川崎</span></a>
			</div>
			<div class="conteiner--box__area">
				<a href="#"><span>鎌倉・湘南</span></a>
			</div>
		</div>
		<div class="conteiner--frame__003">
			<a href="#" class="link--underline">
				<div class="conteiner--box__003">
					<div class="conteiner--box__title arrow--img">
						<p>千葉のバレンタインチョコ</p>
					</div>
				</div>
			</a>
			<div class="conteiner--area__lists">
				<div class="conteiner--box__area conteiner--box__top">
					<a href="#"><span>千葉</span></a>
				</div>
				<div class="conteiner--box__area">
					<a href="#"><span>船橋</span></a>
				</div>
			</div>
		</div>
		<div class="conteiner--frame__003">
			<a href="#" class="link--underline">
				<div class="conteiner--box__003">
					<div class="conteiner--box__title arrow--img">
						<p>埼玉のバレンタインチョコ</p>
					</div>
				</div>
			</a>
			<div class="conteiner--area__lists border--bottom__none">
				<div class="conteiner--box__area conteiner--box__top  border--bottom__none">
					<a href="#"><span>埼玉</span></a>
				</div>
				<div class="conteiner--box__area border--bottom__none">
					<a href="#"><span>川越</span></a>
				</div>
			</div>
		</div>
	</div>
</section>
<!--========== C エリアから探す =====================================================-->
<!--========== D ランキングＴＯＰ３ =================================================-->
<section class="contents--component__004">
	<div class="contents--component__title eventtitle--backcolor__default">
		<h2>秋の人気イベントランキング</h2>
	</div>
	<div class="conteiner--box conteiner--box__line">
		<div class="conteiner--box__004">
			<a class="link--opacity__50" href="#">
				<div class="conteiner--box__image">
					<div class="conteiner--ranking__001"></div>
					<img src="img/image_sample_004.png" alt="image_sample004" />
				</div>
				<div class="conteiner--box__title">
					<p>イベント名イベント名イベント名</p>
				</div>
			</a>
		</div>
		<div class="conteiner--box__004">
			<a class="link--opacity__50" href="#">
				<div class="conteiner--box__image">
					<div class="conteiner--ranking__002"></div>
					<img src="img/image_sample_005.png" alt="image_sample005" />
				</div>
				<div class="conteiner--box__title">
					<p>イベント名イベント名イベント名</p>
				</div>
			</a>
		</div>
		<div class="conteiner--box__004-last">
			<a class="link--opacity__50" href="#">
				<div class="conteiner--box__image">
					<div class="conteiner--ranking__003"></div>
					<img src="img/image_sample_006.png" alt="image_sample006" />
				</div>
				<div class="conteiner--box__title">
					<p>イベント名イベント名イベント名</p>
				</div>
			</a>
		</div>
	</div>
  <div class="conteiner--box">
		<div class="conteiner--link__text arrow--img">
			<a href="#">
				<p><span>TOP10すべてのランキングを見る</span></p>
			</a>
		</div>
	</div>
</section>
<!--========== D ランキングＴＯＰ３ =================================================-->
<!--========== E PICKUPコンテンツ =================================================-->
<section class="contents--component__005">
	<div class="conteiner--box border--bottom ">
		<a class="link--opacity__50" href="#">
			<div class="conteiner--boxleft__005">
				<div class="conteiner--box__image">
					<div class="conteiner--box__tag conteiner--tag__color">PICKUPコンテンツ</div>
					<img src="img/image_sample_007.png" alt="image_sample007" />
				</div>
			</div>
			<div class="conteiner--boxright__005">
				<div class="conteiner--box__title">
					<p>デートにぴったり！バレンタインイベント</p>
				</div>
				<p>デートにぴったりな気分があがるイベントをご紹介！</p>
			</div>
		</a>
	</div>
	<div class="conteiner--box">
		<a class="link--opacity__50" href="#">
			<div class="conteiner--boxleft__005">
				<div class="conteiner--box__image">
					<div class="conteiner--box__tag conteiner--tag__color">PICKUPコンテンツ</div>
					<img src="img/image_sample_008.png" alt="image_sample008" />
				</div>
			</div>
			<div class="conteiner--boxright__005">
				<div class="conteiner--box__title">
					<p>デートにぴったり！秋のイベント</p>
				</div>
				<p>デートにぴったりな気分があがるイベントをご紹介！</p>
			</div>
		</a>
	</div>
</section>
<!--========== E PICKUPコンテンツ =================================================-->
<!--========== E PICKUPコンテンツ3:2 =================================================-->
<section class="contents--component__005">
	<div class="conteiner--box border--bottom ">
		<a class="link--opacity__50" href="#">
			<div class="conteiner--boxleft__005">
				<div class="conteiner--box__image">
					<div class="conteiner--box__tag conteiner--tag__color">PICKUPコンテンツ</div>
					<img src="img/image_sample_009.png" alt="image_sample009" />
				</div>
			</div>
			<div class="conteiner--boxright__005">
				<div class="conteiner--box__title">
					<p>キャッチ567890</p>
				</div>
				<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。これで90文字です。</p>
			</div>
		</a>
	</div>
	<div class="conteiner--box">
		<a class="link--opacity__50" href="#">
			<div class="conteiner--boxleft__005">
				<div class="conteiner--box__image">
					<div class="conteiner--box__tag conteiner--tag__color">PICKUPコンテンツ</div>
					<img src="img/image_sample_010.png" alt="image_sample010" />
				</div>
			</div>
			<div class="conteiner--boxright__005">
				<div class="conteiner--box__title">
					<p>キャッチ567890</p>
				</div>
				<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。これで90文字です。</p>
			</div>
		</a>
	</div>
</section>
<!--========== E PICKUPコンテンツ3:2 =================================================-->
<!--========== F コンテンツ誘導枠 =====================================================-->
<section class="contents--component__006">
	<div class="contents--component__title eventtitle--backcolor__default">
		<h2>タイプ別編集部おすすめ秋祭り</h2>
	</div>
	<div class="conteiner--box">
		<div class="conteiner--boxleft__006 pc--only">
			<div class="conteiner--box__image">
				<img src="img/image_sample_011.png" alt="image_sample009" />
			</div>
		</div>
		<a href="#">
			<div class="conteiner--boxleft__006 sp--only">
				<div class="conteiner--box__image">
					<img src="img/image_sample_011.png" alt="image_sample009" />
				</div>
			</div>
			<div class="conteiner--boxright__006a">
				<div class="conteiner--box__title arrow--img">
					<p class="link--underline">タイプ別編集部おすすめ秋祭り</p>
				</div>
				<p class="sp--only">テキストが入ります。テキストが入ります。テキストが入ります。これで40文字です。</p>
			</div>
		</a>
		<p class="pc--only">テキストが入ります。テキストが入ります。テキストが入ります。これで40文字です。</p>
		<div class="conteiner--boxright__006b">
			<div class="conteiner--box__text arrow--img link--underline">
				<a href="#"><span>本命チョコ</span></a>
				<a href="#"><span>義理チョコ</span></a>
				<a href="#"><span>友チョコ</span></a>
				<a href="#"><span>ダミーテキストチョコダミーテキストチョコ</span></a>
				<a href="#"><span>職場チョコ</span></a>
			</div>
		</div>		
	</div>
</section>
<!--========== F コンテンツ誘導枠 ====================================================-->
<!--========== V 差込有料枠 =========================================================-->
<section class="contents--component__007 arrow--img">
	<div class="contents--component__title maintitle--design__prGlay maintitle--design__underborder">
		<h2>秋祭りにおでかけするなら、周辺レストランもチェック！</h2>
	</div>
	<div class="conteiner--box link--opacity__50">
		<a href="#">
			<div class="conteiner--boxleft__007">
				<div class="conteiner--box__image">
					<img src="img/image_sample_012.png" alt="image_sample009" />
				</div>
			</div>
			<div class="conteiner--boxright__007">
				<div class="conteiner--box__title">
					<p>秋祭り会場周辺のレストランを探そう</p>
				</div>
				<p>秋祭りに行く前に、行った後に立ち寄りたい、秋祭り会場周辺のレストラン情報はコチラをチェック！</p>
				<div class="btn btn--color">
					<p>お店を見る</p>
				</div>
			</div>
		</a>
	</div>
</section>
<!--========== V 差込有料枠 =========================================================-->
<!--========== H 人気のエリア　 =====================================================-->
<section class="contents--component__008">
	<div class="contents--component__title eventtitle--backcolor__default">
		<h2>編集部おすすめのエリア</h2>
	</div>
	<div class="conteiner--box">
		<div class="conteiner--box__area link--opacity__50">
			<a href="#">
				<div class="conteiner--box__image">
					<img src="img/image_sample_013.png" alt="image_sample009" />
				</div>
				<p>銀座</p>
			</a>
			<a href="#">
				<div class="conteiner--boxleft__008">
					<div class="conteiner--box__image">
						<img src="img/image_sample_014.png" alt="image_sample009" />
					</div>
				</div>
				<p>表参道・青山</p>
			</a>
			<a href="#">
				<div class="conteiner--boxleft__008">
					<div class="conteiner--box__image">
						<img src="img/image_sample_015.png" alt="image_sample009" />
					</div>
				</div>
				<p>渋谷</p>
			</a>
			<a href="#">
				<div class="conteiner--boxleft__008">
					<div class="conteiner--box__image">
						<img src="img/image_sample_016.png" alt="image_sample009" />
					</div>
				</div>
				<p>横浜・みなとみらい</p>
			</a>
		</div>
	</div>
</section>
<!--========== H 人気のエリア　 =====================================================-->
<!--========== X レストラン誘導枠　 ==================================================-->
<section class="contents--component__009 arrow--img">
	<div class="contents--component__title maintitle--design__pr eventtitle--backcolor__subcolor">
		<h2>デートやディナーにおすすめのレストラン</h2>
	</div>
	<div class="conteiner--box">
		<a href="#" class="link--opacity__50">
			<div class="conteiner--boxleft__009">
				<div class="conteiner--box__image">
					<img src="img/image_sample_017.png" alt="image_sample009" />
				</div>
			</div>
			<div class="conteiner--boxright__009">
				<p>バレンタイン限定の特別なコースやきれいな夜景が見えるなど、バレンタインディナーにぴったりなお店・レストランをご紹介</p>
				<div class="btn btn--color">
					<p>おすすめレストランを見る</p>
				</div>
			</div>
		</a>
		<div class="conteiner--box__area arrow--img link--underline">
			<a class="accordion--spot" href="#"><span>夜景・景色がきれいなお店</span></a>
			<a class="accordion--spot" href="#"><span>２人で祝う　誕生日＆記念日にこのお店</span></a>
			<a class="accordion--spot" href="#"><span>カップルシート＆2人個室のあるお店</span></a>
			<a class="accordion--spot" href="#"><span>デートに！ 距離が縮まる厳選レストラン</span></a>
			<a class="accordion--spot" href="#"><span>落ち着いた大人デートを楽しむお店</span></a>
			<a class="accordion--spot" href="#"><span>夜景・景色がきれいなお店</span></a>
		</div>
		<div id="accordion--001" class="sp--only">
			<a class="archive" href="#">東京のバレンタインスポットをもっと見る</a>
		</div>
	</div>
</section>
<!--========== X レストラン誘導枠　 ==================================================-->
	

	
<!--========== Y 記事誘導枠　 ==================================================-->
<section class="contents--component__010">
	<div class="contents--component__title eventtitle--backcolor__default maintitle--design__border">
		<h2>秋のイベントのおでかけ記事</h2>
	</div>
	<div class="conteiner--box">
		<div class="conteiner--box__area link--opacity__50">
			<a class="accordion--outing" href="#">
				<div class="conteiner--box__image">
					<img src="img/image10-1.png" alt="image10-1" />
				</div>
				<div class="conteiner--box__text">
				  <p>テキストが入ります。テキストが入ります。テキストが<span class="float--right"><span class="new"></span><span class="pr"></span></span></p>
				</div>
			</a>
			<a class="accordion--outing" href="#">
				<div class="conteiner--boxleft__010">
					<div class="conteiner--box__image">
						<img src="img/image10-2.png" alt="image10-2" />
					</div>
				</div>
				<div class="conteiner--box__text">
				  <p>テキストが入ります。テキストが入ります。テキストが入ります。<span class="float--right"><span class="new"></span></span></p>
				</div>
			</a>
			<a class="accordion--outing" href="#">
				<div class="conteiner--boxleft__010">
					<div class="conteiner--box__image">
						<img src="img/image10-3.png" alt="image10-3" />
					</div>
				</div>
				<div class="conteiner--box__text">
				  <p>テキストが入ります。テキストが入ります。テキストが入ります。<span class="float--right"><span class="pr"></span></span></p>
				</div>
			</a>
			<a class="accordion--outing" href="#">
				<div class="conteiner--boxleft__010">
					<div class="conteiner--box__image">
						<img src="img/image10-4.png" alt="image10-4" />
					</div>
				</div>
				<div class="conteiner--box__text">
				  <p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a class="accordion--outing" href="#">
				<div class="conteiner--boxleft__010">
					<div class="conteiner--box__image">
						<img src="img/image10-5.png" alt="image10-5" />
					</div>
				</div>
				<div class="conteiner--box__text">
				  <p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a class="accordion--outing" href="#">
				<div class="conteiner--boxleft__010">
					<div class="conteiner--box__image">
						<img src="img/image10-6.png" alt="image10-6" />
					</div>
				</div>
				<div class="conteiner--box__text">
				  <p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
		</div>
		<div id="accordion--002" class="sp--only">
			<a class="archive--outing" href="#">おでかけ記事をもっと見る</a>
		</div>
	</div>
</section>
<!--========== Y 記事誘導枠　 ==================================================-->

<!--========== Z-1 関連特集（正方形）　 ==================================================-->
<section class="contents--component__011">
	<div class="contents--component__title eventtitle--backcolor__default maintitle--design__border">
		<h2>秋祭り＆秋のイベントのお役立ち情報</h2>
	</div>
	<div class="conteiner--box">
		<div class="conteiner--box__area link--opacity__50">
			<a class="accordion--outing__002" href="#">
				<div class="conteiner--box__image">
					<img src="img/image11-1.png" alt="image_sample009" />
				</div>
				<div class="conteiner--box__text">
					<p class="subtitle">タイトルタイトルタイトルタイトル</p>
					<p>テキストが入ります。テキストが入ります。<span class="float--right"><span class="new"></span><span class="pr"></span></span></p>
				</div>
			</a>
			<a class="accordion--outing__002" href="#">
				<div class="conteiner--box__image">
					<img src="img/image11-2.png" alt="image_sample009" />
				</div>
				<div class="conteiner--box__text">
					<p class="subtitle">タイトルタイトルタイトルタイトル</p>
					<p>テキストが入ります。テキストが入ります。<span class="float--right"><span class="pr"></span></span></p>
				</div>
			</a>
			<a class="accordion--outing__002" href="#">
				<div class="conteiner--box__image">
					<img src="img/image11-3.png" alt="image_sample009" />
				</div>
				<div class="conteiner--box__text">
					<p class="subtitle">タイトルタイトルタイトルタイトル</p>
					<p>テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a class="accordion--outing__002" href="#">
				<div class="conteiner--box__image">
					<img src="img/image11-4.png" alt="image_sample009" />
				</div>
				<div class="conteiner--box__text">
					<p class="subtitle">タイトルタイトルタイトルタイトル</p>
					<p>テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
		</div>
		<div id="accordion--003" class="sp--only">
			<a class="archive--outing__002" href="#">おでかけ記事をもっと見る</a>
		</div>
	</div>
</section>
<!--========== Z-1 関連特集（正方形）　 ==================================================-->
<!--========== Z-2 関連特集枠　 ==================================================-->
<section class="contents--component__012">
	<div class="contents--component__title eventtitle--backcolor__default maintitle--design__border">
		<h2>おすすめ特集</h2>
	</div>
	<div class="conteiner--box">
		<div class="conteiner--box__area link--opacity__50">			
			<a href="#">
				<div class="conteiner--box__image">
					<img src="img/image12-1.png" alt="image_sample009" />
				</div>
				<div class="conteiner--box__text">
					<p class="subtitle text--strong">イルミネーション特集</p>
					<p>テキストが入ります。テキストが入ります。テキストが入ります。<span class="float--right"><span class="new"></span><span class="pr"></span></span></p>
				</div>
			</a>
			<a href="#">
				<div class="conteiner--box__image">
					<img src="img/image12-2.png" alt="image_sample009" />
				</div>
				<div class="conteiner--box__text">
					<p class="subtitle text--strong">イルミネーション特集</p>
					<p>テキストが入ります。テキストが入ります。テキストが入ります。<span class="float--right"><span class="new"></span><span class="pr"></span></span></p>
				</div>
			</a>
		</div>
	</div>
</section>
<!--========== Z-2 関連特集枠　 ==================================================-->
<!--========== テキストのみ角丸ボタン　 ==================================================-->
<section class="contents--component__013">
	<div class="contents--component__title eventtitle--backcolor__default">
		<h2>エリアから秋祭りを探す</h2>
	</div>
  <div class="conteiner--box set">
		<div class="conteiner--box__area arrow--img link--opacity__50">			
			<a class="round" href="#">
				<p>東京</p>
			</a>
			<a class="round" href="#">
				<p>神奈川</p>
			</a>
			<a class="round" href="#">
				<p>千葉</p>
			</a>
		  <a class="round" href="#">
				<p>埼玉</p>
			</a>
		</div>
	</div>
<!--========== テキストのみ角丸ボタン　 ==================================================-->
  <div class="conteiner--box set">
		<div class="conteiner--box__area arrow--img link--opacity__50">			
			<a href="#">
				<p>東京</p>
			</a>
			<a href="#">
				<p>神奈川</p>
			</a>
			<a href="#">
				<p>千葉</p>
			</a>
		<a href="#">
				<p>埼玉</p>
			</a>
		</div>
	</div>
<!--========== テキストのみ四角ボタン　 ==================================================-->
<!--========== テキストのみリスト　 ==================================================-->
	<div class="conteiner--box set">
		<div class="conteiner--box__area arrow--img link--opacity__50">			
			<a class="margin--right__not" href="#">
				<p>東京</p>
			</a>
			<a class="margin--right__not" href="#">
				<p>神奈川</p>
			</a>
			<a class="margin--right__not" href="#">
				<p>千葉</p>
			</a>
			<a class="margin--right__not" href="#">
				<p>埼玉</p>
			</a>
		</div>
	</div>
</section>
<!--========== テキストのみリスト　 ==================================================-->
<!--========== テキストのみ角丸ボタン　 ==================================================-->
<!--========== 画像とテキスト_1カラムと4カラム==================================================-->
<section class="contents--component__010">
	<div class="contents--component__title eventtitle--backcolor__default">
		<h2>ジャンルで探す</h2>
	</div>
	<div class="conteiner--box">
		<div class="conteiner--box__area link--opacity__50">
			<a href="#">
				<div class="conteiner--box__image">
					<img src="img/genre_sample_001.png" alt="例大祭・神社の祭り" />
				</div>
				<div class="conteiner--box__text">
					<p class="text--strong">例大祭・神社の祭り</p>
				  <p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a href="#">
				<div class="conteiner--boxleft__010">
					<div class="conteiner--box__image">
					<img src="img/genre_sample_002.png" alt="さんま祭り" />
					</div>
				</div>
				<div class="conteiner--box__text">
					<p class="text--strong">さんま祭り</p>
				  <p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a href="#">
				<div class="conteiner--boxleft__010">
					<div class="conteiner--box__image">
					<img src="img/genre_sample_003.png" alt="グルメフェス" />
					</div>
				</div>
				<div class="conteiner--box__text">
					<p class="text--strong">グルメフェス</p>
				  <p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a href="#">
				<div class="conteiner--boxleft__010">
					<div class="conteiner--box__image">
					<img src="img/genre_sample_004.png" alt="音楽イベント" />
					</div>
				</div>
				<div class="conteiner--box__text">
					<p class="text--strong">音楽イベント</p>
				  <p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a href="#">
				<div class="conteiner--boxleft__010">
					<div class="conteiner--box__image">
					<img src="img/genre_sample_005.png" alt="スポーツイベント" />
					</div>
				</div>
				<div class="conteiner--box__text">
					<p class="text--strong">スポーツイベント</p>
				  <p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a href="#">
				<div class="conteiner--boxleft__010">
					<div class="conteiner--box__image">
					<img src="img/genre_sample_006.png" alt="アート・カルチャー" />
					</div>
				</div>
				<div class="conteiner--box__text">
					<p class="text--strong">アート・カルチャー</p>
				  <p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a href="#">
				<div class="conteiner--boxleft__010">
					<div class="conteiner--box__image">
					<img src="img/genre_sample_006.png" alt="アート・カルチャー" />
					</div>
				</div>
				<div class="conteiner--box__text">
					<p class="text--strong">アート・カルチャー</p>
				  <p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
		</div>
	</div>
</section>
<!--========== 画像とテキスト_1カラムと4カラム==================================================-->
<!--========== 画像とテキスト_1カラムと2カラム==================================================-->
<section class="contents--component__012">
	<div class="contents--component__title eventtitle--backcolor__default">
		<h2>イベント・フェア</h2>
	</div>
	<div class="conteiner--box">
		<div class="conteiner--box__area link--opacity__50">			
			<a href="#">
				<div class="conteiner--box__image">
					<img src="img/genre_sample_003.png" alt="グルメフェス" />
				</div>
				<div class="conteiner--box__text">
					<p class="subtitle text--strong">秋のグルメフェス</p>
					<p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a href="#">
				<div class="conteiner--box__image">
					<img src="img/genre_sample_002.png" alt="さんま祭り" />
				</div>
				<div class="conteiner--box__text">
					<p class="subtitle text--strong">秋のグルメフェス</p>
					<p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a href="#">
				<div class="conteiner--box__image">
					<img src="img/genre_sample_002.png" alt="さんま祭り" />
				</div>
				<div class="conteiner--box__text">
					<p class="subtitle text--strong">秋のグルメフェス</p>
					<p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
		</div>
	</div>
</section>
<!--========== 画像とテキスト_1カラムと2カラム==================================================-->
<!--========== 画像とテキスト_1カラムと2カラム（キャプションで展開）==================================================-->
<section class="contents--component__014">
	<div class="contents--component__title eventtitle--backcolor__default">
		<h2>秋イベントをとことん満喫しよう</h2>
	</div>
	<div class="conteiner--box">
		<div class="conteiner--box__area link--opacity__50">			
			<a href="#">
				<div class="conteiner--box__image">
					<img src="img/genre_sample_007.png" alt="グルメフェス" />
				</div>
				<div class="conteiner--box__text">
					<p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a href="#">
				<div class="conteiner--box__image">
					<img src="img/genre_sample_008.png" alt="さんま祭り" />
				</div>
				<div class="conteiner--box__text">
					<p>テキストが入ります。テキストが入ります。テキストが入ります。<span class="float--right"><span class="pr"></span></span></p>
				</div>
			</a>
			<a href="#">
				<div class="conteiner--box__image">
					<img src="img/genre_sample_009.png" alt="さんま祭り" />
				</div>
				<div class="conteiner--box__text">
					<p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
		</div>
	</div>
</section>
<!--========== 画像とテキスト_1カラムと2カラム（キャプションで展開==================================================-->
<!--========== 画像とテキスト_2カラムと2カラム==================================================-->
<section class="contents--component__015">
	<div class="contents--component__title eventtitle--backcolor__subcolor maintitle--design__pr brawn">
		<h2>秋イベントおすすめ情報</h2>
	</div>
	<div class="conteiner--box">
		<div class="conteiner--box__area link--opacity__50">			
			<a href="#">
				<div class="conteiner--box__image">
					<img src="img/genre_sample_010.png" alt="グルメフェス" />
				</div>
				<div class="conteiner--box__text">
					<p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a href="#">
				<div class="conteiner--box__image">
					<img src="img/genre_sample_011.png" alt="さんま祭り" />
				</div>
				<div class="conteiner--box__text">
					<p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a href="#">
				<div class="conteiner--box__image">
					<img src="img/genre_sample_012.png" alt="さんま祭り" />
				</div>
				<div class="conteiner--box__text">
					<p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
		</div>
	</div>
</section>
<!--========== 画像とテキスト_2カラムと2カラム==================================================-->
<!--========== 画像とテキスト_強調==================================================-->
<section class="contents--component__016">
	<div class="contents--component__title eventtitle--backcolor__default maintitle--design__pr">
		<h2>秋イベントおすすめ情報</h2>
	</div>
	<div class="conteiner--box link--opacity__50">
		<div class="conteiner--box__left">			
			<a href="#">
				<div class="conteiner--box__image">
					<img src="img/event_image_001.png" alt="グルメフェス" />
				</div>
				<div class="conteiner--box__text">
					<p class="text--size__middle text--strong">テキストが入ります。テキストが入ります。</p>
					<p>デートにぴったりな気分があがるイベントをご紹介！</p>
				</div>
			</a>
		</div>
		<div class="conteiner--box__right">
			<div class="conteiner--box__inline">
				<a href="#">
					<div class="conteiner--box__image">
						<img src="img/event_image_002.png" alt="グルメフェス" />
					</div>
					<div class="conteiner--box__text">
						<p class="text--strong">テキストが入ります。</p>
						<p>テキストが入ります。テキストが入ります。</p>
					</div>
				</a>
			</div>
			<div class="conteiner--box__inline">
				<a href="#">
					<div class="conteiner--box__image">
						<img src="img/event_image_003.png" alt="グルメフェス" />
					</div>
					<div class="conteiner--box__text">
						<p class="text--strong">テキストが入ります。</p>
						<p>テキストが入ります。テキストが入ります。</p>
					</div>
				</a>
			</div>
			<div class="conteiner--box__inline">
				<a href="#">
					<div class="conteiner--box__image">
						<img src="img/event_image_004.png" alt="グルメフェス" />
					</div>
					<div class="conteiner--box__text">
						<p class="text--strong">テキストが入ります。</p>
						<p>テキストが入ります。テキストが入ります。</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
<!--========== 画像とテキスト_強調==================================================-->
<!--========== イベント情報カセット_PICKUP==================================================-->
<section class="contents--component__017 event--casset__common">
	<div class="contents--component__title eventtitle--backcolor__default">
			<h2>イベント・フェア</h2>
	</div>
	<!--イベントインフォメーション START-->
	<a href="#" class="event--information event--information__color link--opacity__50">
		<div class="event--information__tabs">
			<span class="tab tab--station round">駅名／都県</span>
			<span class="tab tab--event round">イベント</span>
			<span class="tab tab--gourmet round">グルメ</span>
			<span class="tab tab--music round">音楽</span>
			<span class="tab tab--sports round">スポーツ</span>
			<span class="tab tab--art round">アート・カルチャー</span>
			<span class="tab tab--fes round">祭り</span>
			<span class="tab tab--sanma round">さんま祭り</span>
			<span class="tab tab--leaves round">紅葉</span>
			<span class="tab tab--sweets round">スイーツ</span>
		</div>
		<div class="event--information__title">
			<p class="text--size__bigger text--strong text--left">2017神宮外苑花火大会</p>
		</div>
	</a>
	<!--イベントインフォメーション END-->
	<!--インフォメーションエリア START-->
	<div class="event--information__area">
		<!--見出しタイトル START-->
	  <p class="event--information__label">神宮の空を鮮やかに彩る花火×人気アーティストの豪華饗宴</p>
		<!--見出しタイトル END-->
		 <div class="event--image__frame">
			 <img src="img/fire_work_001.png" alt="花火" />
			 <p>
				 キャプションが入ります。キャプションが入ります。キャプションが入ります。キャプションが入ります。
			 </p>
		</div>
		<div class="event--image__text">
			<p class="text--size__middle">
				東京三大花火と称される神宮外苑花火大会は、大迫力のスターマインや趣向を凝らした花火はもちろん、人気アーティストによるライブも充実。メイン会場の神宮球場には、デビュー25周年を迎える大黒摩季が登場！名曲とともに約1万2000発の花火が神宮の空を彩る。
			</p>
			<div class="event--image__moreinfo">
				<p>
					打ち上げ数：<span class="text--strong">約1万2000発</span>
				</p>
				<p>
					例年の人出：<span class="text--strong">32万人</span>
				</p>
				<p>
					露店：<span class="text--strong">あり</span>
				</p>
			</div>
		</div>
	</div>
	<!--インフォメーションエリア END-->
	<dl>
		<dt>開催日時</dt>
		<dd>
			<p class="text--strong">2017年8月20日(日) </p>
			<p>19:30花火打ち上げ開始、20:30花火終了予定</p>
			<p>※予備日、8月21日(月) 翌日順延。</p>
		</dd>
 	</dl>
	<dl>
		<dt>場所</dt>
		<dd>
			<p>明治神宮外苑</p>
		</dd>
	</dl>
	<dl>
		<dt>最寄駅</dt>
		<dd>
			<p>国立競技場、 外苑前、 信濃町、 千駄ヶ谷、 代々木、 北参道、 青山一丁目、 表参道</p>
		</dd>
	</dl>
	<dl>
		<dt>有料席</dt>
		<dd>
			<p>あり<a class="link--underline" href="#"><span>料金・お問い合せ先を見る</span></a></p>
		</dd>
	</dl>
	<dl>
		<dt>予約期間</dt>
		<dd>6月17日(土)より一般発売開始</dd>
	</dl>
	<a class="button link--opacity__50 event--button__color" href="#">
		<div class="btn">
			<p>エリアで買える<span>おすすめチョコレートを見る</span></p>
		</div>
	</a>
	<div class="height--30px"></div>
</section>
<!--========== イベント情報カセット_PICKUP==================================================-->
<!--========== イベント情報カセット_リスト==================================================-->
<section class="contents--component__018 event--casset__common">
	<!--イベントインフォメーション START-->
	<a href="#" class="event--information event--information__color link--opacity__50">
		<div class="event--information__tabs">
			<span class="tab tab--station round">駅名／都県</span>
			<span class="tab tab--event round">イベント</span>
			<span class="tab tab--gourmet round">グルメ</span>
			<span class="tab tab--music round">音楽</span>
		</div>
		<div class="event--information__title">
			<p class="text--size__bigger text--strong text--left">2017神宮外苑花火大会２行になった場合の見た目２行になった場合の見た目</p>
		</div>
	</a>
	<!--イベントインフォメーション END-->
	<!--インフォメーションエリア START-->
	<div class="event--information__area">
		<!--見出しタイトル START-->
	  <p class="event--information__label">神宮の空を鮮やかに彩る花火×人気アーティストの豪華饗宴</p>
		<!--見出しタイトル END-->
		 <div class="event--image__frame">
			 <img src="img/fire_work_001.png" alt="花火" />
			 <p>
				 キャプションが入ります。キャプションが入ります。キャプションが入ります。キャプションが入ります。
			 </p>
		</div>
		<div class="event--image__text">
			<p class="text--size__middle">
				東京三大花火と称される神宮外苑花火大会は、大迫力のスターマインや趣向を凝らした花火はもちろん、人気アーティストによるライブも充実。メイン会場の神宮球場には、デビュー25周年を迎える大黒摩季が登場！名曲とともに約1万2000発の花火が神宮の空を彩る。
			</p>
			<div class="event--image__moreinfo sp--only">
				<p>
					打ち上げ数：<span class="text--strong">約1万2000発</span>
				</p>
				<p>
					例年の人出：<span class="text--strong">32万人</span>
				</p>
				<p>
					露店：<span class="text--strong">あり</span>
				</p>
			</div>
		</div>
	</div>
	<!--インフォメーションエリア END-->
	<dl>
		<dt>開催日時</dt>
		<dd>
			<p class="text--strong">2017年8月20日(日) </p>
			<p>19:30花火打ち上げ開始、20:30花火終了予定</p>
			<p>※予備日、8月21日(月) 翌日順延。</p>
		</dd>
 	</dl>
	<dl>
		<dt>場所</dt>
		<dd>
			<p>明治神宮外苑</p>
		</dd>
	</dl>
	<dl>
		<dt>最寄駅</dt>
		<dd>
			<p>国立競技場、 外苑前、 信濃町、 千駄ヶ谷、 代々木、 北参道、 青山一丁目、 表参道</p>
		</dd>
	</dl>
	<dl>
		<dt>有料席</dt>
		<dd>
			<p>あり<a class="link--underline" href="#"><span>料金・お問い合せ先を見る</span></a></p>
		</dd>
	</dl>
	<dl>
		<dt>予約期間</dt>
		<dd>6月17日(土)より一般発売開始</dd>
	</dl>
	<a class="button link--opacity__50 event--button__color" href="#">
		<div class="btn">
			<p>エリアで買える<span>おすすめチョコレートを見る</span></p>
		</div>
	</a>
	<div class="height--30px"></div>
</section>
	
<!--========== イベント情報カセット_リスト==================================================-->
<!--========== イベント情報カセット_特別枠==================================================-->
<section class="contents--component__019 event--casset__common">
	<!--イベントインフォメーション START-->
	<a href="#" class="event--information event--information__color link--opacity__50">
		<div class="event--information__tabs">
			<span class="tab tab--station round">駅名／都県</span>
			<span class="tab tab--fes round">祭り</span>
			<span class="tab tab--sanma round">さんま祭り</span>
			<span class="tab tab--leaves round">紅葉</span>
			<span class="tab tab--sweets round">スイーツ</span>
		</div>
		<div class="event--information__title">
			<p class="text--size__bigger text--strong text--left">2017神宮外苑花火大会</p>
		</div>
	</a>
	<!--イベントインフォメーション END-->
		<!--見出しタイトル START-->
	  <p class="event--information__label">神宮の空を鮮やかに彩る花火×人気アーティストの豪華饗宴</p>
		<!--見出しタイトル END-->
	<!--インフォメーションエリア START-->
	<div class="event--information__area">
		<div class="event--image__frame001">
			<img src="img/fire_work_003.png" alt="花火" />
			<p>
				キャプションが入ります。キャプションが入ります。キャプションが入ります。キャプションが入ります。
			</p>
		</div>
		<div class="event--image__frame002">
			<img src="img/fire_work_004.png" alt="花火" />
			<p>
				キャプションが入ります。キャプションが入ります。キャプションが入ります。キャプションが入ります。
			</p>
		</div>
		<div class="event--image__text">
			<p class="text--size__middle">
				東京三大花火と称される神宮外苑花火大会は、大迫力のスターマインや趣向を凝らした花火はもちろん、人気アーティストによるライブも充実。メイン会場の神宮球場には、デビュー25周年を迎える大黒摩季が登場！名曲とともに約1万2000発の花火が神宮の空を彩る。
			</p>
			<div class="event--image__moreinfo sp--only">
				<p>
					打ち上げ数：<span class="text--strong">約1万2000発</span>
				</p>
				<p>
					例年の人出：<span class="text--strong">32万人</span>
				</p>
				<p>
					露店：<span class="text--strong">あり</span>
				</p>
			</div>
		</div>
	</div>
	<!--インフォメーションエリア END-->
	<dl>
		<dt>開催日時</dt>
		<dd>
			<p class="text--strong">2017年8月20日(日) </p>
			<p>19:30花火打ち上げ開始、20:30花火終了予定</p>
			<p>※予備日、8月21日(月) 翌日順延。</p>
		</dd>
 	</dl>
	<dl>
		<dt>場所</dt>
		<dd>
			<p>明治神宮外苑</p>
		</dd>
	</dl>
	<dl>
		<dt>最寄駅</dt>
		<dd>
			<p>国立競技場、 外苑前、 信濃町、 千駄ヶ谷、 代々木、 北参道、 青山一丁目、 表参道</p>
		</dd>
	</dl>
	<dl>
		<dt>有料席</dt>
		<dd>
			<p>あり<a class="link--underline" href="#"><span>料金・お問い合せ先を見る</span></a></p>
		</dd>
	</dl>
	<dl>
		<dt>予約期間</dt>
		<dd>6月17日(土)より一般発売開始</dd>
	</dl>
	<a class="button link--opacity__50 event--button__color" href="#">
		<div class="btn">
			<p>エリアで買える<span>おすすめチョコレートを見る</span></p>
		</div>
	</a>
	<div class="height--30px"></div>
</section>
<!--========== イベント情報カセット_特別枠==================================================-->
<!--========== イベント情報カセット_強調==================================================-->
<section class="contents--component__021 event--casset__common">
	<a class="arrow--img" href="#">イベントをもっと見る</a>	
</section>
<!--========== イベント情報カセット_PICKUP==================================================-->
<!--========== カレンダー　==================================================-->
<div id="calendar--setdata">
<div id="calendar--wrapper">
<h2>カレンダーから今日の花火大会を探す</h2>
<div id="left">
<div id="output01"></div>
</div>
<div id="right">
<div id="output02"></div>
</div>
<div class="fireworks--text">
  <p>※日付をクリックするとその日開催の花火大会が確認できます。</p>  
</div>
</div>
</div>
	
	

<!--========== カレンダー　==================================================-->
<div class="height--30px"></div>

</div>

<!-- /コーディングここまで -->
