<section id="contents--paymentfee">
	<div class="contents--component__title maintitle--design__underborder">
		<h2 id="v">秋祭りにおでかけするなら、周辺レストランもチェック！</h2>
		<span class="square-color__grey">PR</span>
	</div>
	<div class="container--box link--opacity__50">
		<a href="#">
			<div class="container--box__field">
				<div class="container--boxleft__007">
					<div class="container--box__image">
						<img src="img/image_sample_012.png" alt="image_sample009" />
					</div>
				</div>
				<div class="container--boxright__007">
					<div class="container--box__title">
						<p>秋祭り会場周辺のレストランを探そう</p>
					</div>
					<p>秋祭りに行く前に、行った後に立ち寄りたい、秋祭り会場周辺のレストラン情報はコチラをチェック！</p>
					<div class="event-button event-button--color arrow--img">
						<p>お店を見る</p>
					</div>
				</div>
			</div>
		</a>
	</div>
</section>