<section id="contents--article__induction">
	<div class="contents--component__title eventtitle--backcolor__default maintitle--design__border">
		<h2 id="y">秋のイベントのおでかけ記事</h2>
	</div>
	<div class="container--box">
		<div class="container--box__area link--opacity__50">
			<a class="accordion--outing" href="#">
				<div class="container--box__field">
					<div class="container--box__image">
						<img src="img/image10-1.png" alt="image10-1" />
					</div>
					<div class="container--box__text">
					  <p>テキストが入ります。テキストが入ります。テキストが<span class="float--right"><span class="square-color__red">NEW</span><span class="square-color__grey">PR</span></span></p>
					</div>
				</div>
			</a>
			<a class="accordion--outing" href="#">
				<div class="container--box__field">
					<div class="container--boxleft__010">
						<div class="container--box__image">
							<img src="img/image10-2.png" alt="image10-2" />
						</div>
					</div>
					<div class="container--box__text">
					  <p>テキストが入ります。テキストが入ります。テキストが入ります。<span class="float--right"><span class="square-color__red">NEW</span></span></p>
					</div>
				</div>
			</a>
			<a class="accordion--outing" href="#">
				<div class="container--box__field">
					<div class="container--boxleft__010">
						<div class="container--box__image">
							<img src="img/image10-3.png" alt="image10-3" />
						</div>
					</div>
					<div class="container--box__text">
					  <p>テキストが入ります。テキストが入ります。テキストが入ります。<span class="float--right"><span class="square-color__grey">PR</span></span></p>
					</div>
				</div>
			</a>
			<a class="accordion--outing" href="#">
				<div class="container--box__field">
					<div class="container--boxleft__010">
						<div class="container--box__image">
							<img src="img/image10-4.png" alt="image10-4" />
						</div>
					</div>
					<div class="container--box__text">
					  <p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
					</div>
				</div>
			</a>
			<a class="accordion--outing" href="#">
				<div class="container--box__field">
					<div class="container--boxleft__010">
						<div class="container--box__image">
							<img src="img/image10-5.png" alt="image10-4" />
						</div>
					</div>
					<div class="container--box__text">
					  <p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
					</div>
				</div>
			</a>
			<a class="accordion--outing" href="#">
				<div class="container--box__field">
					<div class="container--boxleft__010">
						<div class="container--box__image">
							<img src="img/image10-6.png" alt="image10-4" />
						</div>
					</div>
					<div class="container--box__text">
					  <p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
					</div>
				</div>
			</a>
		</div>
		<div id="accordion--002" class="only_sp">
			<a class="archive--outing">おでかけ記事をもっと見る</a>
		</div>
	</div>
</section>