<section id="imagetext--onecolum__twocolum">
	<div class="contents--component__title eventtitle--backcolor__default">
		<h2 id="module5">イベント・フェア</h2>
	</div>
	<div class="container--box">
		<div class="container--box__area link--opacity__50">			
			<a href="#">
				<div class="container--box__image">
					<img src="img/genre_sample_003.png" alt="グルメフェス" />
				</div>
				<div class="container--box__text">
					<p class="subtitle text--strong">秋のグルメフェス</p>
					<p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a href="#">
				<div class="container--box__image">
					<img src="img/genre_sample_002.png" alt="さんま祭り" />
				</div>
				<div class="container--box__text">
					<p class="subtitle text--strong">秋のグルメフェス</p>
					<p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a href="#">
				<div class="container--box__image">
					<img src="img/genre_sample_002.png" alt="さんま祭り" />
				</div>
				<div class="container--box__text">
					<p class="subtitle text--strong">秋のグルメフェス</p>
					<p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
		</div>
	</div>
</section>