<section id="imagetext--onecolum__fourcolum">
	<div class="contents--component__title eventtitle--backcolor__default">
		<h2 id="module4">ジャンルで探す</h2>
	</div>
	<div class="container--box">
		<div class="container--box__area link--opacity__50">
			<a href="#">
				<div class="container--box__image">
					<img src="img/genre_sample_001.png" alt="例大祭・神社の祭り" />
				</div>
				<div class="container--box__text">
					<p class="text--strong">例大祭・神社の祭り</p>
				  <p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a href="#">
				<div class="container--boxleft__010">
					<div class="container--box__image">
					<img src="img/genre_sample_002.png" alt="さんま祭り" />
					</div>
				</div>
				<div class="container--box__text">
					<p class="text--strong">さんま祭り</p>
				  <p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a href="#">
				<div class="container--boxleft__010">
					<div class="container--box__image">
					<img src="img/genre_sample_003.png" alt="グルメフェス" />
					</div>
				</div>
				<div class="container--box__text">
					<p class="text--strong">グルメフェス</p>
				  <p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a href="#">
				<div class="container--boxleft__010">
					<div class="container--box__image">
					<img src="img/genre_sample_004.png" alt="音楽イベント" />
					</div>
				</div>
				<div class="container--box__text">
					<p class="text--strong">音楽イベント</p>
				  <p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a href="#">
				<div class="container--boxleft__010">
					<div class="container--box__image">
					<img src="img/genre_sample_005.png" alt="スポーツイベント" />
					</div>
				</div>
				<div class="container--box__text">
					<p class="text--strong">スポーツイベント</p>
				  <p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a href="#">
				<div class="container--boxleft__010">
					<div class="container--box__image">
					<img src="img/genre_sample_006.png" alt="アート・カルチャー" />
					</div>
				</div>
				<div class="container--box__text">
					<p class="text--strong">アート・カルチャー</p>
				  <p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
		</div>
	</div>
</section>
