<section id="imagetext--strong">
	<div class="contents--component__title eventtitle--backcolor__default">
		<h2 id="module8">秋イベントおすすめ情報<span class="square-color__white">PR</span></h2>
	</div>
	<div class="container--box link--opacity__50">
		<div class="container--box__left">			
			<a href="#">
				<div class="container--box__image">
					<img src="img/event_image_001.png" alt="グルメフェス" />
				</div>
				<div class="container--box__text">
					<p class="text--size__middle text--strong">テキストが入ります。テキストが入ります。</p>
					<p>デートにぴったりな気分があがるイベントをご紹介！</p>
				</div>
			</a>
		</div>
		<div class="container--box__right">
			<div class="container--box__inline">
				<a href="#">
					<div class="container--box__image">
						<img src="img/event_image_002.png" alt="グルメフェス" />
					</div>
					<div class="container--box__text">
						<p class="text--strong">テキストが入ります。</p>
						<p>テキストが入ります。テキストが入ります。</p>
					</div>
				</a>
			</div>
			<div class="container--box__inline">
				<a href="#">
					<div class="container--box__image">
						<img src="img/event_image_003.png" alt="グルメフェス" />
					</div>
					<div class="container--box__text">
						<p class="text--strong">テキストが入ります。</p>
						<p>テキストが入ります。テキストが入ります。</p>
					</div>
				</a>
			</div>
			<div class="container--box__inline">
				<a href="#">
					<div class="container--box__image">
						<img src="img/event_image_004.png" alt="グルメフェス" />
					</div>
					<div class="container--box__text">
						<p class="text--strong">テキストが入ります。</p>
						<p>テキストが入ります。テキストが入ります。</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>