<!--

カセットの種類は４種類。
セクション内のHTML構文は同じ内容になります。

ピックアップ・・・eventinformation--casset__pickup
リスト・・・eventinformation--casset__lists
特別枠・・・eventinformation--casset__special
強調枠・・・eventinformation--casset__strong

contents--component__title__none・・・H2見出しが非表示になります。
moreinfo__none・・・黄色枠が非表示になります。
tab-color--*__none・・・タブが非表示になります。
event--information__label__none 写真上の小見出しの箇所を非表示にします。
event--information__*__none・・・テーブルレイアウトの詳細情報の各項目が非表示になります。

-->


<section id="eventinformation--casset__special" class="event--casset__common moreinfo__none contents--component__title__none tab-color--deep-green__none tab-color--blue-magenta__none tab-color--strong-magenta__none tab-color--phthalo-blue__none tab-color--brown__none tab-color--yellow-green__none event--information__toll__none event--information__reserve__none">
	<div class="contents--component__title eventtitle--backcolor__default">
		<h2 id="module9">イベント・フェア</h2>
	</div>
	<a href="#" class="event--information eventtitle--backcolor__default link--opacity__50">
		<div class="event--information__color">
			<div class="event--information__tabs">
				<span class="tab tab-color--mono round">駅名／都県</span>
				<span class="tab tab-color--orange round">イベント</span>
				<span class="tab tab-color--strong-red round">グルメ</span>
				<span class="tab tab-color--cyan-blue round">音楽</span>
				<span class="tab tab-color--deep-green round">スポーツ</span>
				<span class="tab tab-color--blue-magenta round">アート・カルチャー</span>
				<span class="tab tab-color--strong-magenta">祭り</span>
				<span class="tab tab-color--phthalo-blue round">さんま祭り</span>
				<span class="tab tab-color--brown round">紅葉</span>
				<span class="tab tab-color--yellow-green round">スイーツ</span>
			</div>
			<div class="event--information__title">
				<h3 id="event-title__001" class="text--size__bigger text--strong text--left">2017神宮外苑花火大会</h3>
			</div>
			<hr class="event--information__border" />
		</div>
	</a>
	<div class="event--information__area">
		<p class="event--information__label">神宮の空を鮮やかに彩る花火×人気アーティストの豪華饗宴</p>
		<div class="event--information__left">
			<div class="event--image__frame">
				<div class="event--image only_pc"></div>
				<a class="event--image only_sp" href="#">
					<img src="img/fire_work_001.png" style="width:100%;" />
				</a>
			</div>
			 <div class="event--image__caption">
				 <p>
					 キャプションが入ります。キャプションが入ります。キャプションが入ります。キャプションが入ります。
				 </p>
			</div>
		</div>
		<div class="event--information__right">
			<div class="event--information__right__sub">
				<div class="event--image__frame">
					<div class="event--image only_pc"></div>
					<div class="event--image only_sp">
						<img src="img/fire_work_002.png" />
					</div>
				</div>
				 <div class="event--image__caption">
					 <p>
						 キャプションが入ります。キャプションが入ります。キャプションが入ります。キャプションが入ります。
					 </p>
				</div>
			</div>
			<div class="event--image__text">
				<p class="text--size__middle">
					東京三大花火と称される神宮外苑花火大会は、大迫力のスターマインや趣向を凝らした花火はもちろん、人気アーティストによるライブも充実。メイン会場の神宮球場には、デビュー25周年を迎える大黒摩季が登場！名曲とともに約1万2000発の花火が神宮の空を彩る。
				</p>
				<!--追加情報枠　黄色背景-->
				<div class="event--image__moreinfo">
					<p>
						打ち上げ数：<span class="text--strong">約1万2000発</span>
					</p>
					<p>
						例年の人出：<span class="text--strong">32万人</span>
					</p>
					<p>
						露店：<span class="text--strong">あり</span>
					</p>
				</div>
				<!--追加情報枠　黄色背景-->
			</div>
		</div>
	</div>
	<div class="event--information__field">
		<dl class="event--information__data">
			<dt>開催日時</dt>
			<dd>
				<p class="text--strong">2017年8月20日(日) </p>
				<p>19:30花火打ち上げ開始、20:30花火終了予定</p>
				<p>※予備日、8月21日(月) 翌日順延。</p>
			</dd>
		</dl>
		<dl class="event--information__place">
			<dt>場所</dt>
			<dd>
				<p>明治神宮外苑</p>
			</dd>
		</dl>
		<dl class="event--information__station">
			<dt>最寄駅</dt>
			<dd>
				<p class="recent-station">国立競技場、 外苑前、 信濃町、 千駄ヶ谷、 代々木、 北参道、 青山一丁目、 表参道</p>
			</dd>
		</dl>
		<dl class="event--information__toll">
			<dt>有料席</dt>
			<dd>
				<p>あり<a class="link--underline" href="#"><span>料金・お問合せ先を見る</span></a></p>
			</dd>
		</dl>
		<dl class="event--information__reserve">
			<dt>予約期間</dt>
			<dd>6月17日(土)より一般発売開始</dd>
		</dl>
	</div>
	<a class="button link--opacity__50 event--button__color" href="#">
		<div class="event-button">
			<p>エリアで買える<span>おすすめチョコレートを見る</span></p>
		</div>
	</a>
	<div class="height--20px"></div>
	<!--ここまでカセットスタート-->
</section>
