<section id="contents--feature__square">
	<div class="contents--component__title eventtitle--backcolor__default maintitle--design__border">
		<h2 id="z-1">秋祭り＆秋のイベントのお役立ち情報</h2>
	</div>
	<div class="container--box">
		<div class="container--box__area link--opacity__50">
			<a class="accordion--outing__002" href="#">
				<div class="container--box__field">
					<div class="container--box__image">
						<img src="img/image11-1.png" alt="image_sample009" />
					</div>
					<div class="container--box__text">
						<p class="subtitle">タイトルタイトルタイトルタイトル</p>
						<p>テキストが入ります。テキストが入ります。<span class="float--right"><span class="square-color__red">NEW</span><span class="square-color__grey">PR</span></span></p>
					</div>
				</div>
			</a>
			<a class="accordion--outing__002" href="#">
				<div class="container--box__field">
					<div class="container--box__image">
						<img src="img/image11-2.png" alt="image_sample009" />
					</div>
					<div class="container--box__text">
						<p class="subtitle">タイトルタイトルタイトルタイトル</p>
						<p>テキストが入ります。テキストが入ります。<span class="float--right"><span class="square-color__grey">PR</span></span></p>
					</div>
				</div>
			</a>
			<a class="accordion--outing__002" href="#">
				<div class="container--box__field">
					<div class="container--box__image">
						<img src="img/image11-3.png" alt="image_sample009" />
					</div>
					<div class="container--box__text">
						<p class="subtitle">タイトルタイトルタイトルタイトル</p>
						<p>テキストが入ります。テキストが入ります。</p>
					</div>
				</div>
			</a>
			<a class="accordion--outing__002" href="#">
				<div class="container--box__field">
					<div class="container--box__image">
						<img src="img/image11-4.png" alt="image_sample009" />
					</div>
					<div class="container--box__text">
						<p class="subtitle">タイトルタイトルタイトルタイトル</p>
						<p>テキストが入ります。テキストが入ります。</p>
					</div>
				</div>
			</a>
		</div>
		<div id="accordion--003" class="only_sp">
			<a class="archive--outing__002">おでかけ記事をもっと見る</a>
		</div>
	</div>
</section>
