<section id="new--information__photo">
	<div class="contents--component__title eventtitle--backcolor__default">
		<h2 id="b-1">注目の秋祭り＆秋のイベント</h2>
	</div>
	<div class="container--box">
		<div class="container--box__001">
			<a class="link--opacity__50" href="#">
				<div class="container--box__image">
					<div class="container--box__tag container--tag__color">イベント</div>
					<img src="img/image_sample_001.jpg" alt="image_sample001" />
				</div>
				<div class="container--box__field">
					<div class="container--box__title">
						<p>イベント名イベント名イベント名イベント名</p>
					</div>
					<div class="container--box__date">
						<p>2018年10月28日(aaa)～11月28日(aaa)</p>
					</div>
					<div class="container--box__place">
						<p>六本木ヒルズアリーナ</p>
					</div>
				</div>
			</a>
		</div>
		<div class="container--box__001">
			<a class="link--opacity__50" href="#">
				<div class="container--box__image">
					<div class="container--box__tag container--tag__color">紅葉</div>
					<img src="img/image_sample_002.jpg" alt="image_sample002" />
				</div>
				<div class="container--box__field">
					<div class="container--box__title">
						<p>イベント名イベント名イベント名イベント名</p>
					</div>
					<div class="container--box__date">
						<p>2018年10月28日(aaa)～11月28日(aaa)</p>
					</div>
					<div class="container--box__place">
						<p>六本木ヒルズアリーナ</p>
					</div>
				</div>
			</a>
		</div>
		<div class="container--box__001">
			<a class="link--opacity__50" href="#">
				<div class="container--box__image">
					<div class="container--box__tag container--tag__color">グルメ</div>
					<img src="img/image_sample_003.jpg" alt="image_sample003" />
				</div>
				<div class="container--box__field">
					<div class="container--box__title">
						<p>イベント名イベント名イベント名イベント名</p>
					</div>
					<div class="container--box__date">
						<p>2018年10月28日(aaa)～11月28日(aaa)</p>
					</div>
					<div class="container--box__place">
						<p>六本木ヒルズアリーナ</p>
					</div>
				</div>
			</a>
		</div>
		<div class="container--link__text arrow--img">
			<a href="#">
				<p><span>おすすめ秋祭りをもっと見る</span></p>
			</a>
		</div>
	</div>
</section>

