<section id="imagetext--onecolum__twocolum--ver2">
	<div class="contents--component__title eventtitle--backcolor__default">
		<h2 id="module6" class="">秋イベントをとことん満喫しよう</h2>
		<span class="square-color__white">PR</span>
	</div>
	<div class="container--box">
		<div class="container--box__area link--opacity__50">			
			<a href="#">
				<div class="container--box__image">
					<img src="img/genre_sample_007.png" alt="グルメフェス" />
				</div>
				<div class="container--box__text">
					<p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a href="#">
				<div class="container--box__image">
					<img src="img/genre_sample_008.png" alt="さんま祭り" />
				</div>
				<div class="container--box__text">
					<p>テキストが入ります。テキストが入ります。テキストが入ります。<span class="float--right"><span class="pr"></span></span></p>
				</div>
			</a>
			<a href="#">
				<div class="container--box__image">
					<img src="img/genre_sample_009.png" alt="さんま祭り" />
				</div>
				<div class="container--box__text">
					<p>テキストが入ります。テキストが入ります。テキストが入ります。<span class="float--right"><span class="pr"></span></span></p>
				</div>
			</a>
		</div>
	</div>
</section>