<style>

	#new--information__photo {
		font-size: 0;
		line-height: 1;
	}
	.contents--area section#new--information__photo .container--box .container--box__date p {
		margin: 0px;
		padding: 0px;
		
	}
	#new--information__photo .container--box__image {
		display: none;
	}
	#new--information__photo .container--box .container--box__001 {
		position: relative;
		width: 100%;
		height: 55px;
		border-top: 1px solid #dfdfdf;
	}
	#new--information__photo .container--box .container--link__text {
		border-top: 1px solid #dfdfdf;
	}
	#new--information__photo .container--box .container--box__001:first-child {
		border-top: none;
	}
	.contents--area section#new--information__photo .container--box .container--box__001 {
		margin: 0px;
		padding: 0px;
	}
	.contents--area section#new--information__photo .container--box .container--box__place p {
		margin: 0px;
		padding: 0px;
	}
	.contents--area section#new--information__photo .container--box .container--box__title p {
		margin: 0px;
		padding: 0px;
	}
	#new--information__photo .container--box__field .container--box__date {
		position: absolute;
		top: 15px;
		left: 10px;
		width:auto;
		min-width: 210px;
		max-width: 210px;
		margin: 0px;
		padding: 0px;
	}
	#new--information__photo .container--box__field .container--box__place {
		position: absolute;
		top: 15px;
		left: 225px;
		width:auto;
		min-width: 170px;
		max-width: 200px;
		margin: 0px;
		padding: 0px;
	}
	#new--information__photo .container--box__field .container--box__title {
		position: absolute;
		top: 30px;
		left: 10px;
		width:auto;
		margin: 0px;
		padding: 0px;
	}
	
	
#new--information__photo .container--box .container--box__field:after {
	position: absolute;
	top:50%;
	right: 10px;
    width: 9px;
    height: 14.4px;
	margin-top: -4.5px;
    background: url(../img/arrow_red.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    content: '';
}
	.contents--area section#new--information__photo h2#b-2 {
    display: block;
    position: relative;
    width: auto;
    padding: 10.5px 40px 10.5px 10px !important;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    line-height: 24px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
	}
</style>

<section id="new--information__photo">
	<div class="contents--component__title eventtitle--backcolor__default">
		<h2 id="b-2">注目の秋祭り＆秋のイベント</h2>
	</div>
	<div class="container--box">
		<div class="container--box__001">
			<a class="link--opacity__50" href="#">
				<div class="container--box__image">
					<div class="container--box__tag container--tag__color">イベント</div>
					<img src="img/image_sample_001.jpg" alt="image_sample001" />
				</div>
				<div class="container--box__field">
					<div class="container--box__title">
						<p>イベント名イベント名イベント名イベント名</p>
					</div>
					<div class="container--box__date">
						<p>2018年10月28日(aaa)～11月28日(aaa)</p>
					</div>
					<div class="container--box__place">
						<p>六本木ヒルズアリーナ</p>
					</div>
				</div>
			</a>
		</div>
		<div class="container--box__001">
			<a class="link--opacity__50" href="#">
				<div class="container--box__image">
					<div class="container--box__tag container--tag__color">紅葉</div>
					<img src="img/image_sample_002.jpg" alt="image_sample002" />
				</div>
				<div class="container--box__field">
					<div class="container--box__title">
						<p>イベント名イベント名イベント名イベント名</p>
					</div>
					<div class="container--box__date">
						<p>2018年10月28日(aaa)～11月28日(aaa)</p>
					</div>
					<div class="container--box__place">
						<p>六本木ヒルズアリーナ</p>
					</div>
				</div>
			</a>
		</div>
		<div class="container--box__001">
			<a class="link--opacity__50" href="#">
				<div class="container--box__image">
					<div class="container--box__tag container--tag__color">グルメ</div>
					<img src="img/image_sample_003.jpg" alt="image_sample003" />
				</div>
				<div class="container--box__field">
					<div class="container--box__title">
						<p>イベント名イベント名イベント名イベント名</p>
					</div>
					<div class="container--box__date">
						<p>2018年10月28日(aaa)～11月28日(aaa)</p>
					</div>
					<div class="container--box__place">
						<p>六本木ヒルズアリーナ</p>
					</div>
				</div>
			</a>
		</div>
		<div class="container--link__text arrow--img">
			<a href="#">
				<p><span>おすすめ秋祭りをもっと見る</span></p>
			</a>
		</div>
	</div>
</section>
