<!--========== テキストのみ角丸ボタン　 ==================================================-->
<h2 id="module1" class="contents--component__title eventtitle--backcolor__default">エリアから秋祭りを探す</h2>
  <div class="container--box set">
		<div class="container--box__area arrow--img link--opacity__50">			
			<a class="round" href="#">
				<p>東京</p>
			</a>
			<a class="round" href="#">
				<p>神奈川</p>
			</a>
			<a class="round" href="#">
				<p>千葉</p>
			</a>
		  <a class="round" href="#">
				<p>埼玉</p>
			</a>
		</div>
	</div>
<!--========== テキストのみ角丸ボタン　 ==================================================-->
