<section id="contents--restaurant__guidance">
	<h2 id="x" class="contents--component__title eventtitle--backcolor__subcolor">デートやディナーにおすすめのレストラン<span></span></h2>
	<div class="container--box">
		<a href="#" class="link--opacity__50">
			<div class="container--boxleft__009">
				<div class="container--box__image">
					<img src="img/image_sample_017.png" alt="image_sample009" />
				</div>
			</div>
			<div class="container--boxright__009">
				<p>バレンタイン限定の特別なコースやきれいな夜景が見えるなど、バレンタインディナーにぴったりなお店・レストランをご紹介</p>
				<div class="btn arrow--img btn--color">
					<p>おすすめレストランを見る</p>
				</div>
			</div>
		</a>
		<div class="container--box__area arrow--img link--underline">
			<a class="accordion--spot" href="#"><span>夜景・景色がきれいなお店</span></a>
			<a class="accordion--spot" href="#"><span>２人で祝う　誕生日＆記念日にこのお店</span></a>
			<a class="accordion--spot" href="#"><span>カップルシート＆2人個室のあるお店</span></a>
			<a class="accordion--spot" href="#"><span>デートに！ 距離が縮まる厳選レストラン</span></a>
			<a class="accordion--spot" href="#"><span>落ち着いた大人デートを楽しむお店</span></a>
			<a class="accordion--spot" href="#"><span>夜景・景色がきれいなお店</span></a>
		</div>
		<div id="accordion--001" class="sp--only">
			<a class="archive" href="#">東京のバレンタインスポットをもっと見る</a>
		</div>
	</div>
</section>
