<section id="new--information__text">
	<h2 id="b-2" class="contents--component__title eventtitle--backcolor__default">注目の秋祭り＆秋のイベント</h2>
	<div class="container--box">
		<!--========== B-2 新着情報（テキスト）BOX ==============================================-->
		<a class="link--opacity__50" href="#">
			<div class="container--box__002 arrow--img">
				<div class="container--box__date">
					<p>2018年10月28日(aaa)～11月28日(aaa)</p>
				</div>
				<div class="container--box__place">
					<p>六本木ヒルズアリーナ</p>
				</div>
				<div class="container--box__title">
						<p>イベント名イベント名イベント名イベント名</p>
				</div>
			</div>
		</a>
		<!--========== B-2 新着情報（テキスト）BOX ==============================================-->
		<!--========== B-2 新着情報（テキスト）BOX ==============================================-->
		<a class="link--opacity__50" href="#">
			<div class="container--box__002 arrow--img">
				<div class="container--box__date">
					<p>2018年10月28日(aaa)～11月28日(aaa)</p>
				</div>
				<div class="container--box__place">
					<p>六本木ヒルズアリーナ</p>
				</div>
				<div class="container--box__title">
					<p>イベント名イベント名イベント名イベント名</p>
				</div>
			</div>
		</a>
		<!--========== B-2 新着情報（テキスト）BOX ==============================================-->
		<!--========== B-2 新着情報（テキスト）BOX ==============================================-->
		<a class="link--opacity__50" href="#">
			<div class="container--box__002 arrow--img">
				<div class="container--box__date">
					<p>2018年10月28日(aaa)～11月28日(aaa)</p>
				</div>
				<div class="container--box__place">
					<p>六本木ヒルズアリーナ</p>
				</div>
				<div class="container--box__title">
					<p>イベント名イベント名イベント名イベント名</p>
				</div>
			</div>
		</a>
		<!--========== B-2 新着情報（テキスト）BOX ==============================================-->
		<div class="container--link__text arrow--img">
			<a href="#">
				<p><span>おすすめ秋祭りをもっと見る</span></p>
			</a>
		</div>
	</div>
</section>
