<section id="search--event__area">
	<h2 id="c" class="contents--component__title eventtitle--backcolor__default">エリアから秋祭り・イベントを探す</h2>
	<div class="container--box">
		<!--========== B-2 新着情報（テキスト）BOX ==============================================-->
		<div class="link--underline">
			<div class="container--box__003">
				<div class="container--box__topmargin container--box__title arrow--img">
					<p><a href="#"><span>東京で買えるおすすめバレンタインチョコ</span></a></p>
				</div>
			</div>
		</div>
		<!--  1カラムにする場合は、container--area__listsの要素に「oneclum」のクラスを追加する-->
		<div class="container--area__lists">
			<div class="container--box__area container--box__top">
				<a href="#"><span>銀座・有楽町</span></a>
			</div>
			<div class="container--box__area">
				<a href="#"><span>東京駅・丸の内</span></a>
			</div>
			<div class="container--box__area">
				<a href="#"><span>日本橋</span></a>
			</div>
			<div class="container--box__area">
				<a href="#"><span>新橋</span></a>
			</div>
			<div class="container--box__area">
				<a href="#"><span>渋谷</span></a>
			</div>
			<div class="container--box__area">
				<a href="#"><span>原宿</span></a>
			</div>
			<div class="container--box__area">
				<a href="#"><span>表参道・青山</span></a>
			</div>
			<div class="container--box__area">
				<a href="#"><span>恵比寿</span></a>
			</div>
			<div class="container--box__area">
				<a href="#"><span>代官山</span></a>
			</div>
			<div class="container--box__area">
				<a href="#"><span>六本木</span></a>
			</div>
			<div class="container--box__area">
				<a href="#"><span>赤坂</span></a>
			</div>
			<div class="container--box__area">
				<a href="#"><span>自由が丘・二子玉川</span></a>
			</div>
			<div class="container--box__area">
				<a href="#"><span>品川</span></a>
			</div>
			<div class="container--box__area">
				<a href="#"><span>上野・浅草</span></a>
			</div>
			<div class="container--box__area">
				<a href="#"><span>池袋</span></a>
			</div>
			<div class="container--box__area">
				<a href="#"><span>吉祥寺</span></a>
			</div>
		</div>
		<div class="container--box__003">
			<div class="container--box__title">
				<p>神奈川で買えるバレンタインチョコ</p>
			</div>
		</div>
		<!--  1カラムにする場合は、container--area__listsの要素に「oneclum」のクラスを追加する-->
		<div class="container--area__lists">
			<div class="container--box__area  container--box__top">
				<a href="#"><span>横浜・みなとみらい</span></a>
			</div>
			<div class="container--box__area">
				<a href="#"><span>川崎</span></a>
			</div>
			<div class="container--box__area">
				<a href="#"><span>鎌倉・湘南</span></a>
			</div>
		</div>
		<br clear="all" class="pc_only" />
		<div class="container--frame__003">
			<div href="#" class="link--underline">
				<div class="container--box__003">
					<div class="container--box__title arrow--img">
						<p><a href="#"><span>千葉で買えるバレンタインチョコ</span></a></p>
					</div>
				</div>
			</div>
			<!--  1カラムにする場合は、container--area__listsの要素に「oneclum」のクラスを追加する-->
			<div class="container--area__lists">
				<div class="container--box__area container--box__top">
					<a href="#"><span>千葉</span></a>
				</div>
				<div class="container--box__area">
					<a href="#"><span>船橋</span></a>
				</div>
			</div>
		</div>
		<div class="container--frame__003">
			<div href="#" class="link--underline">
				<div class="container--box__003">
					<div class="container--box__title arrow--img">
						<p><a href="#"><span>埼玉で買えるバレンタインチョコ</span></a></p>
					</div>
				</div>
			</div>
			<!--  1カラムにする場合は、container--area__listsの要素に「oneclum」のクラスを追加する-->
			<div class="container--area__lists border--bottom__none">
				<div class="container--box__area container--box__top  border--bottom__none">
					<a href="#"><span>埼玉</span></a>
				</div>
				<div class="container--box__area border--bottom__none">
					<a href="#"><span>川越</span></a>
				</div>
			</div>
		</div>
	</div>
</section>
