<section id="pickup--contents">
	<div id="e" class="container--box border--bottom ">
		<a class="link--opacity__50" href="#">
			<div class="container--boxleft__005">
				<div class="container--box__image">
					<div class="container--box__tag container--tag__color">PICKUPコンテンツ</div>
					<img src="img/image_sample_007.png" alt="image_sample007" />
				</div>
			</div>
			<div class="container--boxright__005">
				<div class="container--box__title">
					<p>デートにぴったり！バレンタインイベント</p>
				</div>
				<p>デートにぴったりな気分があがるイベントをご紹介！</p>
			</div>
		</a>
	</div>
	<div class="container--box">
		<a class="link--opacity__50" href="#">
			<div class="container--boxleft__005">
				<div class="container--box__image">
					<div class="container--box__tag container--tag__color">PICKUPコンテンツ</div>
					<img src="img/image_sample_008.png" alt="image_sample008" />
				</div>
			</div>
			<div class="container--boxright__005">
				<div class="container--box__title">
					<p>デートにぴったり！秋のイベント</p>
				</div>
				<p>デートにぴったりな気分があがるイベントをご紹介！</p>
			</div>
		</a>
	</div>
</section>