<section id="contents--popular--areas">
	<h2 id="h" class="contents--component__title eventtitle--backcolor__default">編集部おすすめのエリア</h2>
	<div class="container--box">
		<div class="container--box__area link--opacity__50">
			<a href="#">
				<div class="container--box__image">
					<img src="img/image_sample_013.png" alt="image_sample009" />
				</div>
				<p>銀座</p>
			</a>
			<a href="#">
				<div class="container--boxleft__008">
					<div class="container--box__image">
						<img src="img/image_sample_014.png" alt="image_sample009" />
					</div>
				</div>
				<p>表参道・青山</p>
			</a>
			<a href="#">
				<div class="container--boxleft__008">
					<div class="container--box__image">
						<img src="img/image_sample_015.png" alt="image_sample009" />
					</div>
				</div>
				<p>渋谷</p>
			</a>
			<a href="#">
				<div class="container--boxleft__008">
					<div class="container--box__image">
						<img src="img/image_sample_016.png" alt="image_sample009" />
					</div>
				</div>
				<p>横浜・みなとみらい</p>
			</a>
		</div>
	</div>
</section>
