<section id="contents--feature__3-2">
	<h2 id="z-2" class="contents--component__title eventtitle--backcolor__default maintitle--design__border">おすすめ特集</h2>
	<div class="container--box">
		<div class="container--box__area link--opacity__50">			
			<a href="#">
				<div class="container--box__image">
					<img src="img/image12-1.png" alt="image_sample009" />
				</div>
				<div class="container--box__text">
					<p class="subtitle text--strong">イルミネーション特集</p>
					<p>テキストが入ります。テキストが入ります。テキストが入ります。<span class="float--right"><span class="new"></span><span class="pr"></span></span></p>
				</div>
			</a>
			<a href="#">
				<div class="container--box__image">
					<img src="img/image12-2.png" alt="image_sample009" />
				</div>
				<div class="container--box__text">
					<p class="subtitle text--strong">イルミネーション特集</p>
					<p>テキストが入ります。テキストが入ります。テキストが入ります。<span class="float--right"><span class="new"></span><span class="pr"></span></span></p>
				</div>
			</a>
		</div>
	</div>
</section>
