<section id="contents--article__induction">
	<h2 id="y" class="contents--component__title eventtitle--backcolor__default maintitle--design__border">秋のイベントのおでかけ記事</h2>
	<div class="container--box">
		<div class="container--box__area link--opacity__50">
			<a class="accordion--outing" href="#">
				<div class="container--box__image">
					<img src="img/image10-1.png" alt="image10-1" />
				</div>
				<div class="container--box__text">
				  <p>テキストが入ります。テキストが入ります。テキストが<span class="float--right"><span class="new"></span><span class="pr"></span></span></p>
				</div>
			</a>
			<a class="accordion--outing" href="#">
				<div class="container--boxleft__010">
					<div class="container--box__image">
						<img src="img/image10-2.png" alt="image10-2" />
					</div>
				</div>
				<div class="container--box__text">
				  <p>テキストが入ります。テキストが入ります。テキストが入ります。<span class="float--right"><span class="new"></span></span></p>
				</div>
			</a>
			<a class="accordion--outing" href="#">
				<div class="container--boxleft__010">
					<div class="container--box__image">
						<img src="img/image10-3.png" alt="image10-3" />
					</div>
				</div>
				<div class="container--box__text">
				  <p>テキストが入ります。テキストが入ります。テキストが入ります。<span class="float--right"><span class="pr"></span></span></p>
				</div>
			</a>
			<a class="accordion--outing" href="#">
				<div class="container--boxleft__010">
					<div class="container--box__image">
						<img src="img/image10-4.png" alt="image10-4" />
					</div>
				</div>
				<div class="container--box__text">
				  <p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a class="accordion--outing" href="#">
				<div class="container--boxleft__010">
					<div class="container--box__image">
						<img src="img/image10-5.png" alt="image10-5" />
					</div>
				</div>
				<div class="container--box__text">
				  <p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a class="accordion--outing" href="#">
				<div class="container--boxleft__010">
					<div class="container--box__image">
						<img src="img/image10-6.png" alt="image10-6" />
					</div>
				</div>
				<div class="container--box__text">
				  <p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
		</div>
		<div id="accordion--002" class="sp--only">
			<a class="archive--outing" href="#">おでかけ記事をもっと見る</a>
		</div>
	</div>
</section>