<section class="contents--component__015">
	<h2 class="contents--component__title eventtitle--backcolor__subcolor maintitle--design__pr brawn">秋イベントおすすめ情報</h2>
	<div class="conteiner--box">
		<div class="conteiner--box__area link--opacity__50">			
			<a href="#">
				<div class="conteiner--box__image">
					<img src="img/genre_sample_010.png" alt="グルメフェス" />
				</div>
				<div class="conteiner--box__text">
					<p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a href="#">
				<div class="conteiner--box__image">
					<img src="img/genre_sample_011.png" alt="さんま祭り" />
				</div>
				<div class="conteiner--box__text">
					<p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a href="#">
				<div class="conteiner--box__image">
					<img src="img/genre_sample_012.png" alt="さんま祭り" />
				</div>
				<div class="conteiner--box__text">
					<p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
		</div>
	</div>
</section>