<div id="calendar--setdata">
 	<div id="calendar--wrapper">
		<h2 class="eventtitle--backcolor__default">カレンダーから今日の花火大会を探す</h2>
		<div id="left">
			<div id="output01"></div>
		</div>
		<div id="right">
			<div id="output02"></div>
		</div>
		<div class="fireworks--text">
			<p>※日付をクリックするとその日開催の花火大会が確認できます。</p>  
		</div>
	</div>
</div>
<div class="height--30px"></div>