<section class="contents--component__016">
	<h2 class="contents--component__title eventtitle--backcolor__default maintitle--design__pr">秋イベントおすすめ情報</h2>
	<div class="conteiner--box link--opacity__50">
		<div class="conteiner--box__left">			
			<a href="#">
				<div class="conteiner--box__image">
					<img src="img/event_image_001.png" alt="グルメフェス" />
				</div>
				<div class="conteiner--box__text">
					<p class="text--size__middle text--strong">テキストが入ります。テキストが入ります。</p>
					<p>デートにぴったりな気分があがるイベントをご紹介！</p>
				</div>
			</a>
		</div>
		<div class="conteiner--box__right">
			<div class="conteiner--box__inline">
				<a href="#">
					<div class="conteiner--box__image">
						<img src="img/event_image_002.png" alt="グルメフェス" />
					</div>
					<div class="conteiner--box__text">
						<p class="text--strong">テキストが入ります。</p>
						<p>テキストが入ります。テキストが入ります。</p>
					</div>
				</a>
			</div>
			<div class="conteiner--box__inline">
				<a href="#">
					<div class="conteiner--box__image">
						<img src="img/event_image_003.png" alt="グルメフェス" />
					</div>
					<div class="conteiner--box__text">
						<p class="text--strong">テキストが入ります。</p>
						<p>テキストが入ります。テキストが入ります。</p>
					</div>
				</a>
			</div>
			<div class="conteiner--box__inline">
				<a href="#">
					<div class="conteiner--box__image">
						<img src="img/event_image_004.png" alt="グルメフェス" />
					</div>
					<div class="conteiner--box__text">
						<p class="text--strong">テキストが入ります。</p>
						<p>テキストが入ります。テキストが入ります。</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>