<section id="pickup--contents__002">
	<div id="E-2" class="conteiner--box border--bottom">
		<a class="link--opacity__50" href="#">
			<div class="conteiner--boxleft__005">
				<div class="conteiner--box__image">
					<div class="conteiner--box__tag conteiner--tag__color">PICKUPコンテンツ</div>
					<img src="img/image_sample_009.png" alt="image_sample009" />
				</div>
			</div>
			<div class="conteiner--boxright__005">
				<div class="conteiner--box__title">
					<p>キャッチ567890</p>
				</div>
				<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。これで90文字です。</p>
			</div>
		</a>
	</div>
	<div class="conteiner--box">
		<a class="link--opacity__50" href="#">
			<div class="conteiner--boxleft__005">
				<div class="conteiner--box__image">
					<div class="conteiner--box__tag conteiner--tag__color">PICKUPコンテンツ</div>
					<img src="img/image_sample_010.png" alt="image_sample010" />
				</div>
			</div>
			<div class="conteiner--boxright__005">
				<div class="conteiner--box__title">
					<p>キャッチ567890</p>
				</div>
				<p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。これで90文字です。</p>
			</div>
		</a>
	</div>
</section>