<section id="contents--induction">
	<h2 id="f" class="contents--component__title eventtitle--backcolor__default">タイプ別編集部おすすめ秋祭り</h2>
	<div class="container--box">
		<div class="container--boxleft__006 only_pc">
			<div class="container--box__image">
				<img src="img/image_sample_011.png" alt="image_sample009" />
			</div>
		</div>
		<a href="#">
			<div class="container--boxleft__006 only_sp">
				<div class="container--box__image">
					<img src="img/image_sample_011.png" alt="image_sample009" />
				</div>
			</div>
			<div class="container--boxright__006a">
				<div class="container--box__title arrow--img">
					<p class="link--underline">タイプ別編集部おすすめ秋祭り</p>
				</div>
				<p class="only_sp">テキストが入ります。テキストが入ります。テキストが入ります。これで40文字です。</p>
			</div>
		</a>
		<p class="container--boxright__006a only_pc">テキストが入ります。テキストが入ります。テキストが入ります。これで40文字です。</p>
		<div class="container--boxright__006b">
			<div class="container--box__text arrow--img link--underline">
				<a href="#"><span>本命チョコ</span></a>
				<a href="#"><span>義理チョコ</span></a>
				<a href="#"><span>友チョコ</span></a>
				<a href="#"><span>ダミーテキストチョコ</span></a>
				<a href="#"><span>職場チョコ</span></a>
			</div>
		</div>		
	</div>
</section>
