<div id="footer-before" class="only_sp">
 	<div class="go-to-top">
		<div class="button-top">
			<a href="#">
				<p>特集TOPへ戻る</p>
			</a>
		</div>
		<div class="breadcrumb">
			<div class="breadcrumb-box">
				<a href="#"><span>特集TOP</span></a>
				<a href="#"><span>下層ページタイトル下層ページタイトル</span></a>
				<p><span>下層ページタイトル下層ページタイトル</span></p>
			</div>
		</div>
	</div>
</div>
<div class="link-top only_pc">
	<a href="#">▲ページTOPへ</a>
</div>