<section id="eventinformation--casset__pickup" class="event--casset__common">
	<h2 id="module9" class="contents--component__title eventtitle--backcolor__default">イベント・フェア</h2>
	<!--イベントインフォメーション START-->
	<a href="#" class="event--information eventtitle--backcolor__default link--opacity__50">
		<div class="event--information__color">
			<div class="event--information__tabs">
				<span class="tab tab--station round">駅名／都県</span>
				<span class="tab tab--event round">イベント</span>
				<span class="tab tab--gourmet round">グルメ</span>
				<span class="tab tab--music round">音楽</span>
				<span class="tab tab--sports round">スポーツ</span>
				<span class="tab tab--art round">アート・カルチャー</span>
				<span class="tab tab--fes round">祭り</span>
				<span class="tab tab--sanma round">さんま祭り</span>
				<span class="tab tab--leaves round">紅葉</span>
				<span class="tab tab--sweets round">スイーツ</span>
			</div>
			<div class="event--information__title">
				<h3 id="event-title__001" class="text--size__bigger text--strong text--left">2017神宮外苑花火大会</h3>
			</div>
			<hr class="event--information__border" />
		</div>
	</a>
	<!--イベントインフォメーション END-->
	<!--インフォメーションエリア START-->
	<div class="event--information__area">
		<!--見出しタイトル START-->
	  <p class="event--information__label">神宮の空を鮮やかに彩る花火×人気アーティストの豪華饗宴</p>
		<!--見出しタイトル END-->
		<div class="event--information__left">
			<div class="event--image__frame">
				<div class="event--image pc-only"></div>
				<div class="event--image sp-only">
					<img src="img/fire_work_001.png" />
				</div>
			</div>
			 <div class="event--image__caption">
				 <p>
					 キャプションが入ります。キャプションが入ります。キャプションが入ります。キャプションが入ります。
				 </p>
			</div>
		</div>
		<div class="event--information__right">
			<div class="event--image__text">
				<p class="text--size__middle">
					東京三大花火と称される神宮外苑花火大会は、大迫力のスターマインや趣向を凝らした花火はもちろん、人気アーティストによるライブも充実。メイン会場の神宮球場には、デビュー25周年を迎える大黒摩季が登場！名曲とともに約1万2000発の花火が神宮の空を彩る。
				</p>
			</div>
		</div>
	</div>
	<!--インフォメーションエリア END-->
	<dl>
		<dt>開催日時</dt>
		<dd>
			<p class="text--strong">2017年8月20日(日) </p>
			<p>19:30花火打ち上げ開始、20:30花火終了予定</p>
			<p>※予備日、8月21日(月) 翌日順延。</p>
		</dd>
 	</dl>
	<dl>
		<dt>場所</dt>
		<dd>
			<p>明治神宮外苑</p>
		</dd>
	</dl>
	<dl>
		<dt>最寄駅</dt>
		<dd>
			<p>国立競技場、 外苑前、 信濃町、 千駄ヶ谷、 代々木、 北参道、 青山一丁目、 表参道</p>
		</dd>
	</dl>
	<dl>
		<dt>有料席</dt>
		<dd>
			<p>あり<a class="link--underline" href="#"><span>料金・お問い合せ先を見る</span></a></p>
		</dd>
	</dl>
	<dl>
		<dt>予約期間</dt>
		<dd>6月17日(土)より一般発売開始</dd>
	</dl>
	<a class="button link--opacity__50 event--button__color" href="#">
		<div class="event-button">
			<p>エリアで買える<span>おすすめチョコレートを見る</span></p>
		</div>
	</a>
	<div class="height--20px"></div>
</section>



