<section id="imagetext--twocolum__twocolum">
	<h2 id="module7" class="contents--component__title eventtitle--backcolor__subcolor brawn"><span></span>秋イベントおすすめ情報</h2>
	<div class="container--box">
		<div class="container--box__area link--opacity__50">			
			<a href="#">
				<div class="container--box__image">
					<img src="img/genre_sample_010.png" alt="グルメフェス" />
				</div>
				<div class="container--box__text">
					<p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a href="#">
				<div class="container--box__image">
					<img src="img/genre_sample_011.png" alt="さんま祭り" />
				</div>
				<div class="container--box__text">
					<p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a href="#">
				<div class="container--box__image">
					<img src="img/genre_sample_012.png" alt="さんま祭り" />
				</div>
				<div class="container--box__text">
					<p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
		</div>
	</div>
</section>