<!--========== テキストのみ角丸ボタン ==================================================-->
  <div class="container--box set">
		<div class="container--box__area arrow--img link--opacity__50">			
			<a href="#">
				<p>東京</p>
			</a>
			<a href="#">
				<p>神奈川</p>
			</a>
			<a href="#">
				<p>千葉</p>
			</a>
		<a href="#">
				<p>埼玉</p>
			</a>
		</div>
	</div>
<!--========== テキストのみ四角ボタン ==================================================-->