<section class="contents--component__012">
	<h2 class="contents--component__title eventtitle--backcolor__default">イベント・フェア</h2>
	<div class="conteiner--box">
		<div class="conteiner--box__area link--opacity__50">			
			<a href="#">
				<div class="conteiner--box__image">
					<img src="img/genre_sample_003.png" alt="グルメフェス" />
				</div>
				<div class="conteiner--box__text">
					<p class="subtitle text--strong">秋のグルメフェス</p>
					<p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a href="#">
				<div class="conteiner--box__image">
					<img src="img/genre_sample_002.png" alt="さんま祭り" />
				</div>
				<div class="conteiner--box__text">
					<p class="subtitle text--strong">秋のグルメフェス</p>
					<p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
			<a href="#">
				<div class="conteiner--box__image">
					<img src="img/genre_sample_002.png" alt="さんま祭り" />
				</div>
				<div class="conteiner--box__text">
					<p class="subtitle text--strong">秋のグルメフェス</p>
					<p>テキストが入ります。テキストが入ります。テキストが入ります。</p>
				</div>
			</a>
		</div>
	</div>
</section>