
<!--▽共通フッター▽-->
<!--(UAで出し分け)COMMON_FOOTER_V4-->
<!-- SNS AREA start -->
<link rel="stylesheet" type="text/css" href="https://www.enjoytokyo.jp/global/css/footer_sns.css" />
    <div class="turn_top_banner_pc" style="padding: 40px; margin: 0px auto 0px; width: 728px;">
        <style type="text/css">.turn_top_banner_pc a:hover img{opacity: 0.6;}</style>
        <a href="https://www.enjoytokyo.jp/style/list/?sc_lid=ftb" style="hover"><img src="https://www.enjoytokyo.jp/static/img/top_banner_pc.jpg" alt="週末、どこ行く？旬のおでかけ情報あります。レッツエンジョイ東京"></a>    </div>
<div class="sns_frame" style="width: 100%;background-color: #eeeeee;border-top: 1px solid #DBDCDC;padding: 0;margin: 0;text-align:left;">
	<div class="sns_area clearfix clickcount p_f1" style="width: 980px;height: 50px;margin: 0 auto;padding: 20px 0;">
		<ul style="padding: 0;margin: 0;list-style: none;">
			<li class="sns_title" style="float: left;width: 240px;padding: 0;margin: 0;width: 300px;font-size: 14px;line-height: 18px;padding-top: 5px;font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,sans-serif;">
				レッツの公式アカウントをフォローして<br>
				最新おでかけ情報を受け取ろう♪
			</li>
			<!-- Facebookフォローボタン -->
			<li class="facebook" style="float: left;width: 240px;padding: 0;margin: 0;">
				<dl style="padding: 0;margin: 0;">
					<dt style="float: left;padding: 5px;margin: 0;"><img src="https://www.enjoytokyo.jp/global/img/sns_icon_facebook.png" alt="Facebook"></dt>
					<dd>
						<p style="white-space: nowrap;font-size: 14px;line-height: 14px;padding: 0;margin: 0;margin-bottom: 10px;font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,sans-serif;">Facebookで情報を受け取る</p>
						<div id="fb-root"></div>
						<script>(function(d, s, id) {
						  var js, fjs = d.getElementsByTagName(s)[0];
						  if (d.getElementById(id)) return;
						  js = d.createElement(s); js.id = id;
						  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.9&appId=168566579917621";
						  fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));</script>

						<div class="fb-like" data-href="https://www.facebook.com/enjoytokyo" data-layout="button" data-action="like" data-show-faces="true" data-share="false"></div>
					</dd>
				</dl>
			</li>
			<!-- Twitterフォローボタン -->
			<li class="twitter" style="float: left;width: 240px;padding: 0;margin: 0;">
				<dl style="padding: 0;margin: 0;">
					<dt style="float: left;padding: 5px;margin: 0;"><img src="https://www.enjoytokyo.jp/global/img/sns_icon_twitter.png" alt="Twitter"></dt>
					<dd>
						<p style="white-space: nowrap;font-size: 14px;line-height: 14px;padding: 0;margin: 0;margin-bottom: 10px;font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,sans-serif;">Twitterで情報を受け取る</p>
						<a href="https://twitter.com/enjoy_tokyo" class="twitter-follow-button" data-show-count="false" data-lang="ja" data-show-screen-name="false">@enjoy_tokyoさんをフォロー</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					</dd>
				</dl>
			</li>
		</ul>
	</div>
</div>
<!-- SNS AREA end -->
<div id="footerCommon">
<div class="footInner">
	<p class="footerlogo"><a href="https://www.enjoytokyo.jp/"><img src="https://www.enjoytokyo.jp/global/img/common/footer_logo.gif" border="0" alt="レッツエンジョイ東京"></a></p>
	<div class="fnavi">
	<p class="copyright">Copyright&copy; Tokyo Metro Co., Ltd. &amp; Gurunavi, Inc. All rights reserved.</p>
	
	<ul class="fnavi_link">
		<li><a href="https://www.enjoytokyo.jp/about.html">Let'sについて</a>|</li>
		<li><a href="https://www.enjoytokyo.jp/privacy.html">プライバシーポリシー</a>|</li>
		<li><a href="https://www.enjoytokyo.jp/kiyaku.html">会員規約</a>|</li>
		<li><a href="https://adguide.enjoytokyo.jp">広告・情報掲載について</a>|</li>
		<li><a href="https://www.enjoytokyo.jp/menseki.html">免責事項</a>|</li>
		<li><a href="https://www.enjoytokyo.jp/siteMap/">サイトマップ</a>|</li>
		<li><a href="https://www.enjoytokyo.jp/help.html">ヘルプ</a>|</li>
		</ul>
	</div>
	<p><a class="f_pagetop" href="#">このページの先頭へ</a></p>

<!--/.footInner--></div>
<!--/#footCommon--></div>
<!-- SiteCatalyst HTML -->
<div style="display:none;height:0;position:relative;visibility:hidden;width:0;">
<script language="JavaScript" type="text/javascript"><!--
scprotocol = (location.protocol=='https:') ? 'https:' : 'http:';
document.write('<scr'+'ipt language="JavaScript" type="text/javascript" src="'+scprotocol+'//site.gnavi.co.jp/analysis/s_code.js" charset="Shift_JIS"></scr'+'ipt>');
//--></script>
<script language="JavaScript" type="text/javascript"><!--
scSubdom=getScSubdom();
//--></script>
<script language="JavaScript" type="text/javascript"><!--
document.write('<scr'+'ipt language="JavaScript" type="text/javascript" src="'+scprotocol+'//site.gnavi.co.jp/analysis/sc_'+scSubdom+'.js" charset="Shift_JIS"></scr'+'ipt>');
//--></script>
<!-- SiteCatalyst HTML -->
<!-- Google Code for &#28171;&#35895;&#12506;&#12540;&#12472;&#35480;&#23566;&#12522;&#12510;&#12540;&#12465;&#12486;&#12451;&#12531;&#12464;&#12479;&#12464;&#65288;tagA&#65289; Remarketing List -->
<script type="text/javascript">

var google_conversion_id = 1011572928;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "6-fCCPiwnAMQwMGt4gM";
var google_conversion_value = 0;

</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1011572928/?label=6-fCCPiwnAMQwMGt4gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 962466743;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/962466743/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
<script type="text/javascript" language="javascript">
/* <![CDATA[ */
var yahoo_retargeting_id = 'CZC538SUR6';
var yahoo_retargeting_label = '';
/* ]]> */
</script>
<script type="text/javascript" language="javascript" src="//b92.yahoo.co.jp/js/s_retargeting.js"></script><!-- User Insight PCDF Code Start : enjoytokyo.jp -->
<script type="text/javascript">
var _uic = _uic ||{}; var _uih = _uih ||{};_uih['id'] = 10098;
_uih['lg_id'] = '';
_uih['fb_id'] = '';
_uih['tw_id'] = '';
_uih['uigr_1'] = ''; _uih['uigr_2'] = ''; _uih['uigr_3'] = ''; _uih['uigr_4'] = ''; _uih['uigr_5'] = '';
_uih['uigr_6'] = ''; _uih['uigr_7'] = ''; _uih['uigr_8'] = ''; _uih['uigr_9'] = ''; _uih['uigr_10'] = '';
/* DO NOT ALTER BELOW THIS LINE */
/* WITH FIRST PARTY COOKIE */
(function() {
 var bi = document.createElement('script');bi.type = 'text/javascript'; bi.async = true;
 bi.src = '//cs.nakanohito.jp/b3/bi.js';
 var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bi, s);
 })();
</script>
<!-- User Insight PCDF Code End : enjoytokyo.jp -->
<img src="https://img.macromill.com/imp/us000594iwf/5000248244-img-69" width="0" height="0" style="display:none;">

</div>
<!--/(UAで出し分け)COMMON_FOOTER_V4-->
<!--△共通フッター△-->
<!--↑↑↑ フッターここまで ↑↑↑-->
<a href="#" class="btn_scroll_top js-scroll-top only_sp"><img src="https://www.enjoytokyo.jp/phones/feature/matsuri/autumn/img/btn_scroll_top.png" alt="▲" width="48" height="48"></a>
</body>
</html>


